@media screen and (max-width: 1000px) and (orientation:portrait) {
	/* The Modal (background) */
	.modal_canvas {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 10; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content_canvas {
	  background-color: #fefefe;
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top:0;
	  left: 0;
	}

	/* The Close Button */
	.close_canvas{
	  color: blue;
	  font-size: 8vw;
	  text-decoration: underline;
	  cursor: pointer;
	  z-index: 99;
	  text-align: center;
	}

	.title_canvas{
		width:100%;
		font-size: 12vw;
		text-align: center;
		margin-top: 5vh;
	}

	canvas#myRadarChart{
		padding: 0;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}	
	
}

@media screen and (max-width: 1000px) and (orientation:landscape) {
	/* The Modal (background) */
	.modal_canvas {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 10; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content_canvas {
	  background-color: #fefefe;
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top:0;
	  left: 0;
	}

	/* The Close Button */
	.close_canvas{
	  color: blue;
	  font-size: 2.5vw;
	  text-decoration: underline;
	  cursor: pointer;
	  z-index: 99;
	  text-align: center;
	  position: fixed;
	  width:100%;
	  top: 95%;	  
	  
	}
	
	.title_canvas{
		width:100%;
		font-size: 2vw;
		text-align: center;
		margin-top: 5vh;
	}

	canvas#myRadarChart{
		padding: 0;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}	
	
}

@media screen and (min-width: 1001px){
	/* The Modal (background) */
	.modal_canvas {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 10; /* Sit on top */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content_canvas {
	  background-color: #fefefe;
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top:0;
	  left: 0;
	}

	/* The Close Button */
	.close_canvas{
	  color: blue;
	  font-size: 1.2vw;
	  text-decoration: underline;
	  cursor: pointer;
	  z-index: 99;
	  text-align: center;
	  position: fixed;
	  width:100%;
	  top: 95%;		  
	}	
	
	.title_canvas{
		width:100%;
		font-size: 2vw;
		text-align: center;
		margin-bottom: 5vh;
	}	

	canvas#myRadarChart{
		padding: 0;
		margin-top: 10vh;
		margin-bottom: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}	
}

@keyframes backgroundanim {
  from {background-color: #505050;opacity:0.8;}
  to {background-color: black ;opacity:0.9;}
}